@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "selawik";
    src: url("/selawk.ttf");
}

@font-face {
    font-family: "selawik bold";
    src: url("/selawkb.ttf");
}

@font-face {
    font-family: "selawik light";
    src: url("/selawkl.ttf");
}

body {
    font-family: "Noto Sans";
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
}


.page-holder {
    perspective: 1000px;
}
.page {
    transform-origin: left;
    animation: flipIn 0.3s ease-out;
}
.bottom-bar {
    animation: creep-in 0.3s ease-out forwards;
}
.btn {
    animation: button-overshoot 0.5s ease-out forwards;
}
@keyframes button-overshoot {
    0% {
        transform: translateY(120%);
    }
    70% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes creep-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes flipIn {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
}